@{
    ViewData["Title"] = "Home Page";

    var newEvents = ViewBag.New;
    var popularEvents = ViewBag.Popular;
    var featuredEvents = ViewBag.Featured;
}

<div class="container margin">
    <!-- New Events-->
    <a asp-controller="Event" asp-action="GetAll" asp-route-sort="New"><h5 class="customizedtext-yellow">New Events</h5></a>
    <div class="row">
        @if (newEvents.Count == 0)
        {
            <p class="card-text text-white mt-2 mb-2">No Events Available</p>
        }
        else
        {
            foreach (var item in newEvents)
            {
                <div class="col-sm-6  col-md-3">
                    <div class="card-body text-center">
                        <a asp-controller="Event" asp-action="GetOne" asp-route-id=@item.ID><img class="card-img-top customizedtext-yellow" src=@item.ImageUrl alt="Card image cap" /></a>
                        <a asp-controller="Event" asp-action="GetOne" asp-route-id=@item.ID><p class="card-text text-white mt-2">@item.Name</p></a>
                    </div>
                </div>
            }
        }
    </div>
    <!-- Popular Events-->
    <a asp-controller="Event" asp-action="GetAll" asp-route-sort="Popular"><h5 class="customizedtext-yellow">Popular Events</h5></a>
    <div class="row">
        @if (popularEvents.Count == 0)
        {
            <p class="card-text text-white mt-2 mb-2">No Events Available</p>
        }
        else
        {
            foreach (var item in popularEvents)
            {
                <div class="col-sm-6  col-md-3">
                    <div class="card-body text-center">
                        <a asp-controller="Event" asp-action="GetOne" asp-route-id=@item.ID><img class="card-img-top customizedtext-yellow" src=@item.ImageUrl alt="Card image cap" /></a>
                        <a asp-controller="Event" asp-action="GetOne" asp-route-id=@item.ID><p class="card-text text-white mt-2">@item.Name</p></a>
                    </div>
                </div>
            }
        }
    </div>
    <!-- Featured Events-->
    <a asp-controller="Event" asp-action="GetAll" asp-route-sort="Featured"><h5 class="customizedtext-yellow">Featured Events</h5></a>
    <div class="row">
        @if (featuredEvents.Count == 0)
        {
            <p class="card-text text-white mt-2 mb-2">No Events Available</p>
        }
        else
        {
            foreach (var item in featuredEvents)
            {
                <div class="col-sm-6  col-md-3">
                    <div class="card-body text-center">
                        <a asp-controller="Event" asp-action="GetOne" asp-route-id=@item.ID><img class="card-img-top customizedtext-yellow" src=@item.ImageUrl alt="Card image cap" /></a>
                        <a asp-controller="Event" asp-action="GetOne" asp-route-id=@item.ID><p class="card-text text-white mt-2">@item.Name</p></a>
                    </div>
                </div>
            }
        }
    </div>
</div>
