html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.customizedtext-white {
    color: white;
}

.customizedtext-yellow {
    color: #FFD12F !important;
}

.bg-customized-gray {
    background-color: #52524B;
}

.bg-customized-dark {
    background-color: #2E2E2E;
}

.card-custom {
    min-width: 18rem;
    display: inline-block;
    max-height: 25rem;
    justify-content: space-between;
}

.card-img {
    max-width: 100%;
    max-height: 260px;
}

.cards {
    display: table;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

.logo img {
    height: 50px;
}

.navpersonalized {
    height: 70px;
    padding: 0 20px;
}

nav div div ul li a:hover {
    color: #FFD12F;
    text-decoration: none;
}

.nav-tabs {
    border-bottom: none !important;
}

.nav-card {
    justify-content: center;
    padding: 10px 0 10px 0;
}

ul nav-tabs {
    align-items: center;
}

.nav-tabs .nav-link {
    background-color: white;
}

.custom-nav .nav-link {
    font-weight: bold;
    color: gray;
    font-size: x-large;
}

.nav-link.active {
    color: black !important;
}

.container.margin {
    margin: 0px 0px 50px;
}

label {
    font-weight: bold;
    color: #333;
}

input[type="text"] {
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 20px;
    font-size: 14px;
    width: 100%;
    background-color: #ffc107;
}

span.field-validation-error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

select[name="Category"] {
    background-color: #ffc107;
}

value-background {
    background-color: yellow;
    color: black;
}






