@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}
<body style="background-color: #2E2E2E">
    <div class="card container-fluid box" style="width: 700px; border-radius: 20px;">
        <div class="card-body">
            <h1 class="text-center">@ViewData["Title"]</h1>
            <hr/>
            <h3 class="text-center">Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.</h3>
        </div>
    </div>
</body>