@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}
<body style="background-color: #2E2E2E">
    <div class="card container-fluid box" style="width: 700px; border-radius: 20px;">
        <div class="card-body">
            <h1>@ViewData["Title"]</h1>
            <h2>Reset your password...</h2>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <input asp-for="Input.Code" type="hidden" />
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control bg-warning" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                            <label asp-for="Input.Email" class="form-label"></label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control bg-warning" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
                            <label asp-for="Input.Password" class="form-label"></label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.ConfirmPassword" class="form-control bg-warning" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
                            <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group d-flex justify-content-end">
                            <button type="submit" class="btn btn-dark text-warning w-25 p2">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
