@page
@model Disable2faModel
@{
    ViewData["Title"] = "Disable two-factor authentication (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3 class="ms-3">@ViewData["Title"]</h3>
<br />
<div class="alert alert-warning ms-3" role="alert">
    <p>
        <strong>This action only disables 2FA.</strong>
    </p>
    <p>
        Disabling 2FA does not change the keys used in authenticator apps. If you wish to change the key
        used in an authenticator app you should <a asp-page="./ResetAuthenticator">reset your authenticator keys.</a>
    </p>
</div>

<div class="form-group d-flex justify-content-end ms-3">
    <form method="post">
        <button class="w-auto btn btn-danger" type="submit">Disable 2FA</button>
    </form>
</div>
