@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3 class="ms-3">@ViewData["Title"]</h3>
<br />
<div class="row ms-3">
    <div class="col-md-12">
        <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        <p>
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <br />
            <button class="w-25 btn btn-dark text-warning" type="submit">Download</button>
            <a id="delete" asp-page="DeletePersonalData" class="w-25 btn btn-danger">Delete</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
