@using FastTicket_Project.DataSource;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject ApplicationDbContext Context

@{
    decimal balance = 0;

    if (SignInManager.IsSignedIn(User))
    {
        var currentUser = await UserManager.GetUserAsync(User);
        var transactions = Context.Transactions.Where(t => t.SellerID == currentUser!.Id && t.SellerReceivedBalance == false).ToList();
        balance = transactions.Sum(t => t.Price);
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FastTicket_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FastTicket_Project.styles.css" asp-append-version="true" />
    <!-- ======================== BOOTSTRAP CSS ========================= -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- ======================== Icons ==========================-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body class="bg-customized-dark">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-customized-gray box-shadow mb-3">
            <div class="container-fluid">
                <div class="logo">
                    <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index"><img src="/Images/logo.png" alt="logo" /></a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Search bar-->
                <div class="search-container">
                    <form method="get" asp-controller="Event" asp-action="GetAll">
                        <input id="search" type="text" placeholder="Search.." name="search">
                    </form>
                </div>

                <!-- ========== -->

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link h5 mt-3 text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link h5 mt-3 text-white" asp-area="" asp-controller="Event" asp-action="GetAll">Events</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link h5 mt-3 text-white" asp-area="" asp-controller="Ticket" asp-action="GetMyTickets">My Tickets</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled h5 mt-3 text-white">Balance: @balance</a>
                            </li>
                        }
                    </ul>
                    <span class="h5 mt-3">
                        <partial name="_LoginPartial" />
                    </span>
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <br />
    <br />
    <br />
    <br />
    <footer class="footer text-muted">
        <div class="container">
            &copy; 2023 - FastTicket_Project - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
