

@{
    ViewData["Title"] = "Success";
}
<body style="background-color: #2E2E2E">
    <br/>
    <div class="card container-fluid" style="width: 700px; border-radius: 20px; background-color: #ffc107">
        <div class="card-body">
            <div class="card container-fluid" style="width: 600px; border-radius: 20px;">
                <div class="card-body">
                    <br />
                    <h1 class="text-center fw-bold text-uppercase text-success">checkout success!</h1>
                    <h3 class="text-center">Thank you for your purchase.</h3>
                    <br />
                </div>
            </div>
        </div>
    </div>
</body>
