@{
    ViewData["Title"] = "Seller SignIn";
}
<body style="background-color: #2E2E2E ">
    <div class="card container-fluid" style="width:700px;">
        <div class="card-body">
            <nav class="nav-card bg-warning custom-nav">
                <ul class="nav nav-tabs">
                    <li class="nav-item col-md-6">
                        <a href="../Buyer/Index" class="nav-link btn">Buyer</a>
                    </li>
                    <li class="nav-item col-md-6">
                        <a href="../Seller/Index" class="nav-link active btn bg-warning border-0">Seller</a>
                    </li>
                </ul>
            </nav>
            <br />
            <h1 class="display-7">Sign In</h1>
            <form method="post">
                <div class="mb-3 mt-3">
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" class="form-control bg-warning" id="email" name="email">
                </div>
                <div class="mb-3">
                    <label for="pwd" class="form-label">Password</label>
                    <input type="password" class="form-control bg-warning" id="pwd" name="pswd">
                </div>
                <a href="../Seller/ForgotPwd" class="text-warning">Forgot Passwors?</a>
                <div class="form-group d-flex justify-content-end">
                    <button type="submit" class="btn btn-dark btn-lg text-warning w-25 mt-4 mt-4">Sign in</button>
                </div>
                <p>New to Fast Ticket? <a href="../Seller/SignUp" class="text-warning">Sign Up</a></p>
            </form>
        </div>
    </div>
</body>

